<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwiftInfo</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
        <a href="index.html"><h2><span>S</span>wift<span>I</span>nfo</h2></a>
        </div>
        <div class="menu">
        <a href="new_blog.html">New Blog</a>
        <a href="login.html">Login</a>
        <a href="register.html">Signup</a>
        </div>
    </nav>
    <div class="title">
        <h2>“Blogging is a conversation,<br/> not a code.”</h2>
        <div class="search">
        <form>
            <input class="search_field" type="search" placeholder="search blog here"/>
            <input class="button" type="submit" value="Search"/>
        </form>
        </div>
    </div>
    <div class="content">
        <div class="content_list">
            <img src="topic1.jpg" alt="">
            <h3>HTML</h3>
            <p>This HTML course for web developers provides 
                a solid overview for developers, from 
                novice to expert level HTML.
            </p>
            <a href="blog_details.html"><i class="material-icons">arrow_forward</i></a>
            
        </div>
        <div class="content_list">
            <img src="topic2.jpg" alt="">
            <h3>Full Stack Web Development</h3>
            <p>This HTML course for web developers provides 
                a solid overview for developers, from 
                novice to expert level HTML.
            </p>
            <a href="blog_details.html"><i class="material-icons">arrow_forward</i></a>
        </div>
        <div class="content_list">
            <img src="topic3.png" alt="">
            <h3>Full Stack Web Development</h3>
            <p>This HTML course for web developers provides 
                a solid overview for developers, from 
                novice to expert level HTML.
            </p>
            <a href="blog_details.html"><i class="material-icons">arrow_forward</i></a>
        </div>
        <div class="content_list">
            <img src="topic4.jpg" alt="">
            <h3>Full Stack Web Development</h3>
            <p>This HTML course for web developers provides 
                a solid overview for developers, from 
                novice to expert level HTML.
            </p>
            <a href="blog_details.html"><i class="material-icons">arrow_forward</i></a>
        </div>
        
        <div class="content_list">
            <img src="topic5.jpg" alt="">
            <h3>Full Stack Web Development</h3>
            <p>This HTML course for web developers provides 
                a solid overview for developers, from 
                novice to expert level HTML.
            </p>
            <a href="blog_details.html"><i class="material-icons">arrow_forward</i></a>
        </div>
        
        <div class="content_list">
            <img src="topic6.jpg" alt="">
            <h3>Full Stack Web Development</h3>
            <p>This HTML course for web developers provides 
                a solid overview for developers, from 
                novice to expert level HTML.
            </p>
            <a href="blog_details.html"><i class="material-icons">arrow_forward</i></a>
        </div>
        
    </div>
    <footer>
        <p>As a general rule, the most successful man in life 
        is the man who has the best information.</p>
    </footer>
</body>
</html>