<!DOCTYPE html>
<html>
    <head>
        <title>LogIn Page</title>
        <link rel="stylesheet" type="text/css" href="login.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="index.html"><h2><span>S</span>wift<span>I</span>nfo</h2></a>
            </div>
            <div class="menu">
                <a href="login.html" style="color:rgb(252, 104, 85);">Login</a>
                <a href="register.html">Signup</a>
            </div>
        </nav>
        <div class="background">
            <h2>Login</h2>
            <form>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password1" placeholder="Password">
                <button class="btn">Sign In</button>
            </form>

            <p>Don't have a account? <a href="register.html">Sign Up</a></p>
            </div>
        </div>
        <footer>
            <p>As a general rule, the most successful man in life 
                is the man who has the best information.</p>
        </footer>
    </body>
</html>