<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <link rel="stylesheet" href="new_blog.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
        <a href="index.html"><h2><span>S</span>wift<span>I</span>nfo</h2></a>
        </div>
        <div class="menu">
        <a href="new_blog.html" style="color:rgb(252, 104, 85);">New Blog</a>
        <a href="login.html">Login</a>
        <a href="register.html">Signup</a>
        </div>
    </nav>

    <a href="index.html" class="back"><i class="material-icons">arrow_back</i></a>
    <div class="blog_container">
        <form action="#">
            <div class="img">
                <i class="material-icons" style="font-size:100px;">add_a_photo</i>
            </div>
            <input class="blog_title" type="text" placeholder="Blog title"/>
            <textarea class="blog_info" placeholder="write blog information"></textarea>
            <input type="submit" class="button" value="Publish">
        </form>
    </div>


    <footer>
        <p>As a general rule, the most successful man in life 
        is the man who has the best information.</p>
    </footer>
</body>
</html>