<!DOCTYPE html>
<html>
    <head>
        <title>Register Page</title>
        <link rel="stylesheet" type="text/css" href="register.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="index.html"><h2><span>S</span>wift<span>I</span>nfo</h2></a>
            </div>
            <div class="menu">
                <a href="login.html">Login</a>
                <a href="register.html" style="color:rgb(252, 104, 85);">Signup</a>
            </div>
        </nav>
        <div class="background">
            <h2>Register Account</h2>
            <form>
                <input type="text" name="text" placeholder="UserName">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password1" placeholder="Password">
                <input type="password" name="password2" placeholder="Conform Password">
                <button class="btn">Sign Up</button>
            </form>

            <p>Already have a account? <a href="login.html">Sign In</a></p>
        </div>
        <footer>
            <p>As a general rule, the most successful man in life 
                is the man who has the best information.</p>
        </footer>
    </body>
</html>