
body{
    background-color: rgb(17, 22, 31);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
nav a:hover{
    color: rgb(252, 104, 85);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    background-color: rgb(0, 0, 0);
}
nav h2{
    margin: 0;
    color: white;
    font-size: 1.4rem;
    margin-left: 3em;
}
nav span{
    color: rgb(252, 104, 85);
}
.menu{
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 65px;
}

.background{
    width: 400px;
    height: 400px;
    border: 3px solid rgb(52, 68, 94);
    background-color: rgb(30, 39, 55);
    margin: 55px 0;
}
.background h2 {
    display: flex;
    justify-content: center;
    color: rgb(252, 104, 85);
    font-size: 35px;
    margin: 20px;
    font-style: italic;
}
.background form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgba(252, 104, 85, 0.9);
    margin-top: 15px;
}

input {
    width: 220px;
    height: 30px;
    margin: 10px;
    background-color: transparent;
    color: rgb(240, 237, 237);
    padding-left: 5px;
}

.btn {
    width: 100px;
    height: 30px;
    background-color: rgba(252, 104, 85);
    border:none;
    margin-top: 15px;
    color: white;
    border-radius: 3px;
    font-style: italic;
    cursor: pointer;
    transition: 1s;
}
.btn:hover{
    background-color: rgb(158, 20, 2);
}

.background p {
    text-align: center;
    margin: 20px;
    color: rgb(199, 194, 194);
    font-size: 15px;
}

a {
    text-decoration: none;
    color: rgb(134, 156, 241);
}
a:hover {
    color: rgba(252, 104, 85);
}

footer{
    width: 100%;
    background-color: black;
    color: rgb(252, 104, 85);
    margin: 0;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}