.back{
    width: 40px;
    background-color: rgb(248, 218, 178);
    margin-top:20px;
    padding-left: 14px;
    padding-top: 4px;
    margin-left: 9.3%;
    border-radius: 5px;
    transition: .5s;
    margin-right: 86.5%;
}
.back:hover{
    background-color: rgb(29, 29, 29);
}

/* *****************
     container
     ****************** */

.blog_container{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog_container form{
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.file{
    width: 50%;
}

.blog_title{
    width: 98%;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.3rem;
    margin-top: 10px;
    border-color: red;
}
   
.blog_info{
    width: 98%;
    height: 500px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}

.blog_title:focus{
    color: blue;
    border: 2px solid rgb(97, 19, 243);
    outline: none;
}
.blog_info:focus{
    border: 2px solid rgb(97, 19, 243);
    outline: none;
}
.button{
    width: 90px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 auto;
    background-color: rgb(252, 104, 85);
    border: 2px solid rgb(218, 218, 218);
    cursor: pointer;
    transition: 0.7s;
    color: white;
    margin-bottom: 20px;
}

.button:hover{
    background-color: rgb(38, 0, 255);
}


.wrapper{
    border: 1px solid grey;
  }
  
  .editor{
    background-color: lavender;
  }