.user{
    width: 90%;
}

.img{
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 200px;
}
.user p{
    margin: 0;
    padding: 0;
}
.user h4{
    margin: 0;
    margin-top: 10px;
    color: rgb(117, 117, 117);
}
.user h1{
    margin: 0;
    margin-top: 5px;
}
.blog{
    width: 100%;
}

.blog h2{
    margin-left: 5%;
}

.userblog {
    width: 90%; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 10px;
    margin: 2em auto;
    gap: 40px 30px;
}